/*
Bismillahir Rahmanir Rahim
Nafis Khan Chowdhury
Best-Buddy Website
Date - 07/31/2020
Time - 3:14 PM
*/





.buddy{
    display: flex;
}

.friend-container{
    width: 70%;
    margin-left: 100px;
    margin-right: 10px;
    border-right: 1px solid lightgray;
}

.summary-container{
    margin-left: 10px;
}